/* src/components/ProductList.css */

.product-list {
    max-width: 800px;
    margin: 20px auto; /* Ajout d'un espace en haut */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Augmentation de la taille de la police */
    margin-bottom: 20px; /* Espace en dessous du titre */
}

.product-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* Espacement amélioré entre les champs */
    margin-bottom: 20px;
}

.product-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s; /* Transition pour le changement de couleur */
}

.product-form input:focus {
    border-color: #007bff; /* Changement de couleur au focus */
    outline: none; /* Retire la bordure par défaut */
}

.product-form button {
    grid-column: span 2; /* Prend toute la largeur */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.product-form button:hover {
    background-color: #0056b3;
}

.product-list-items {
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center; /* Aligne verticalement les éléments */
}

.product-item:last-child {
    border-bottom: none; /* Retire la bordure du dernier élément */
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px; /* Ajout d'un peu de padding */
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
}

.delete-button:hover {
    background-color: #c82333;
}

/* Styles pour la pagination */
.pagination {
    margin-top: 20px; /* Espacement au-dessus de la pagination */
    display: flex;
    justify-content: center; /* Centre les boutons de pagination */
}

.pagination-button {
    margin: 0 5px; /* Espacement entre les boutons */
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination-button.active {
    background-color: #0056b3; /* Couleur pour le bouton actif */
    font-weight: bold; /* Met le texte en gras pour le bouton actif */
}
